<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		
		    <class name="com.bestbuy.utils.Sewrappers" />
		    <class name="com.bestbuy.utils.Bestbuywrappers" />
		    <class name="com.bestbuy.utils.Reports" />
            <class name="com.bestbuy.tests.WebPageTest" />
		    <class name="com.bestbuy.tests.BottomLinkTest" />
		    <class name="com.bestbuy.tests.AddCartTest" />
		    <class name="com.bestbuy.tests.AddMenuCartTest"/>
		    <class name="com.bestbuy.tests.AddBrandCartTest" />
		    <class name="com.bestbuy.tests.CheckOutTest" />





		    


    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
